@font-face {
  font-family: 'Poppins-Light';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Medium';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Nunito-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Nunito-Bold.ttf') format('truetype');
}
