import * as React from "react"; 

export type {{properCase name}}Props = {};

export const {{properCase name}} = (props: {{properCase name}}Props) => { 
  return (
    <div>
      {{properCase name}}
    </div>
  ); 
};