import * as React from "react"; export type
{{properCase name}}Props = {} // eslint-disable-next-line @typescript-eslint/no-unused-vars export
const
{{properCase name}}
= (props:
{{properCase name}}Props) => { return (
<div>
  {{properCase name}}
</div>
); };