import React from "react";

// eslint-disable-next-line @typescript-eslint/no-empty-interface
export interface {{ properCase name }}Props {}

// eslint-disable-next-line @typescript-eslint/no-unused-vars
export const {{ properCase name }} = (props: {{ properCase name }}Props) => {
  return (
    <div>
      {{ properCase name }}
    </div>
  );
};
